* {
  margin: 0;
  padding: 0;
}

.aside-container {
  background-color: hsl(244, 95%, 16%);
  color: white;
  width: 20vw;
  height: 100vh;
}
.aside-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
button {
  background-color: #070251;
  color: white;
  margin: 0.85rem;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
