* {
  margin: 0;
  padding: 0;
  background-origin: border-box;
}
.body-container {
  display: flex;
  justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}
.right-container {
  display: flex;
  flex-direction: column;
  width: 76vw;
  margin: 1.75rem;
}
.count-section {
  display: flex;
  justify-content: space-evenly;
}
input {
  width: 200px;
  height: 30px;
  border: 1px solid #fdfbfb;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  outline: none;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.search {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}
.count-container {
  display: flex;
  gap: 0.25rem;
}
.img {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
}
p {
  color: rgb(144, 138, 138);
}
.color {
  color: rgb(4, 184, 4);
}
.bar-container {
  display: flex;
  gap: 10rem;
}
.canvas {
  display: flex;
  flex-direction: column;
}
.canvas-header {
  display: flex;
  justify-content: space-between;
}
select {
  border: none;
}
.footer {
  width: 32vw;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -6rem;
}
.footer h4 {
  font-size: 15px;
}
.footer p {
  font-size: 15px;
}
.footer-img {
  width: 4rem;
  height: 2.75rem;
  margin: 1rem;
  border-radius: 10px;
}
.footer-flex {
  display: flex;
}
.chart {
  width: 15rem;
}
.bar-flex {
  width: 40rem;
}
table td {
  padding: 15px;
  text-align: center;
  border: 1px solid #fdfbfb;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu-button {
  display: none;
}
@media screen and (max-width: 1385px) {
  .bar-flex {
    width: 30rem;
  }
  .canvas {
    gap: 1rem;
  }
  .bar-container {
    display: flex;
    flex-direction: column;
    gap: 1;
  }
}
@media screen and (max-width: 949px) {
  .bar-flex {
    width: 20rem;
  }
  .canvas {
    gap: 1rem;
  }

  .chart {
    width: 10rem;
    height: 10rem;
  }
  body {
    overflow-y: scroll;
  }
  .footer {
    position: relative;
    top: -1rem;
    width: 80vw;
  }
}
@media screen and (max-width: 710px) {
  .canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .count-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 949px) {
  .aside-container {
    display: grid;
    place-items: center;
    transition: ease-in-out;
    background-color: transparent;
    position: relative;
    right: -25rem;
    z-index: 10;
  }

  .menu-button {
    display: block;
    z-index: 10;
  }
}
@media screen and (max-width: 749px) {
  .aside-container {
    position: relative;
    right: -20rem;
    z-index: 10;
  }
}
